.container {
  margin: 7rem 7rem;
  display: grid;
  grid-template-columns: 25% auto;
  gap: 15%;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
}

.image-box {
  align-self: center;
  position: relative;
}

.image-box .image-back {
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.image-box .image-back div {
  position: absolute;
  border-radius: 50%;
  animation: gradient 10s infinite;
}

@keyframes gradient {
  70% {
    transform: scale(1) translate(25px) rotate(360deg);
  }
}

.image-box .image-back div:nth-child(1) {
  height: 90%;
  width: 80%;
  background-color: var(--dark-blue);
  left: -29%;
  top: -10%;
}

.image-box .image-back div:nth-child(2) {
  height: 80%;
  width: 70%;
  background-color: var(--main-color);
  top: -12%;
  right: -12%;
  animation-delay: 8s;
}

.image-box .image-back div:nth-child(3) {
  height: 65%;
  width: 80%;
  background-color: var(--second-color);
  bottom: -15%;
  right: -20%;
  animation-delay: 0.3s;
}

.image-box .image-back div:nth-child(4) {
  height: 50%;
  width: 75%;
  background-color: #89cff0;
  bottom: -10%;
  left: -18%;
  animation-delay: 1.2s;
}

.image-box .image-back::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(80px);
}

.image-box .image-back::before {
  content: "";
  position: absolute;
  width: 105%;
  height: 105%;
  background-color: transparent;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 2px solid var(--main-color);
  z-index: 100;
}

.image-container {
  position: absolute;
  width: 100%;
  aspect-ratio: 1 / 1;
  /* overflow: hidden; */
  /* border-radius: 50%; */
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.image-container::before {
  content: "";
  position: absolute;
  width: 105%;
  height: 105%;
  background-color: transparent;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 2px solid var(--main-color);
}
.image-container::after {
  content: "";
  position: absolute;
  bottom: -90px;
  left: 0;
  right: 0;
  /* height: 30%; */
  aspect-ratio: 1 / 1;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 61%,
    #030d11 84%,
    #030d11 0
  );
  pointer-events: none;
  border-radius: 50%;
}

.image-container > img {
  width: 120%;
  position: absolute;
  bottom: -55px;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
}

.info {
  font-family: var(--section-font);
}

.info h2 {
  font-size: 3rem;
  font-family: var(--special-font);
}

.info h3 {
  opacity: 0.5;
  font-size: 1rem;
}

.info h5 {
  font-size: 1.2rem;
  margin-top: 1.5rem;
  margin-left: 1.4rem;
  position: relative;
}

.info h5::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: var(--online-color);
  border-radius: 50%;
  left: -1.4rem;
  top: 50%;
  transform: translateY(-50%);
}

.info p {
  font-size: 1.5rem;
  margin-top: 1.5rem;
}
/* small screen */

@media (min-width: 600px) and (max-width: 992px) {
  .container {
    grid-template-columns: none;
    gap: 8rem;
    height: fit-content;
  }
  .info {
    order: 2;
  }
}

.about-line {
  font-family: var(--special-font);
  font-size: var(--main-font-size);
  font-weight: 100;
  opacity: 0.5;
  margin: var(--margin-all);
  position: relative;
}

.about-line::after {
  content: "";
  position: absolute;
  height: 2px;
  width: calc(100% - 5rem);
  background-color: #89cff047;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
}
