.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: fit-content;
  width: 11rem;
  position: sticky;
  top: 7rem;
}

.container > div {
  font-family: var(--section-font);
  font-weight: 500;
}
.container > div > ul {
  margin: 1rem 0rem 0rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-weight: 300;
}

.container > div > ul li {
  font-size: 1rem;
}
.container > div > ul li a.active {
  position: relative;
  transition: 0.5s;
}
.container > div > ul li a.active::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: var(--main-color);
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  left: -20px;
  transition: 0.5s;
}
