.container {
  margin: var(--margin-all);
  display: grid;
  grid-template-columns: 50% 50%;
}

.container .content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-weight: 200;
  font-family: var(--special-font);
  gap: 3rem;
}

@media (min-width: 600px) and (max-width: 992px) {
  .container .content {
    grid-template-columns: 1fr;
  }
}

.title {
  font-size: 2.2rem;
  font-weight: 400;
  margin: 1rem 0rem;
}

.container .content .list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.2rem;
}
